/* for the navigation bar*/
.nav {
  background-color: #FFFFE0; /* lightyellow */
  list-style-type: none; 
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1.5px solid black;
}

.nav li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
}

li a.active {
  background-color: #FFFF99; /* light yellow 2*/
  padding: 15px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

ul.pub {
  list-style-type: none;
}
