/* Style the header */
.header {
  background-color: #FFFFE0;
  text-align: center;
  padding: 15px;
}

/* Style the navigation bar*/
.nav {
  background-color: #FFFFE0; /* lightyellow */
  list-style-type: none; 
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1.5px solid black;
}
/* Navigating links*/
.nav li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
}

li a.active {
  background-color: #FFFF99; /* light yellow 2*/
  padding: 15px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

/* Style the main body */
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}
/* Side column */
.column.side {
  width: 33%;
  padding-left: 30px;
  padding-right: 10px;
}
/* Main column */
.column.main {
  width: 67%;
  padding-left: 10px;
  padding-right: 30px;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }
} */

/* Style the list of publications */
ul.pub {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}
