/* Style a wrapping box */
.box {
  margin: 20px;
  /*border: 15px;*/
  padding: 25px 100px 50px;
  background-color: #FFF0F5; /* lavender blush*/
}

/* Style fonts */
h1, h2, h3, li, p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.p1 {
  font-size: 16px;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}

/* Style the header */
.header {
  background-color: #FFF0F5; /* lavender blush*/
  text-align: center;
  padding: 10px;
}

/* Style the navigation bar*/
.nav {
  background-color: #FFF0F5; /* lavender blush*/
  list-style-type: none; 
  text-align: center;
  padding: 20px 0px 15px;
  border-bottom: 1.5px solid black;
}
/* Navigating links*/
.nav li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
}

li a.active {
  background-color: #FFDAB9; /* peach puff */
  padding: 15px;
}

li a:hover:not(.active) {
  background-color: #FFE4E1; /* misty rose */
}

/* Style the main body */
* {
  box-sizing: border-box;
  background-color: #FFF0F5; /* lavender blush*/
}
/* Create two unequal columns that floats next to each other */
/*.column {
  float: left;
}*/
/* Side column */
.column.side {
  width: 33%;
  /*padding-left: 50px;*/
  padding-right: 10px;
}
/* Main column */
.column.main {
  width: 67%;
  padding-left: 10px;
  /*padding-right: 50px;*/
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }
} */

/* Style the list of publications */
/*ul.pub {
  list-style-type: none;
  padding: 0px 50px 0px;
}*/

/* Style the footer */
.footer {
  text-align: left;
  padding: 10px 120px 0px 0px;
  border-top: 1.5px solid black;
  background-color: #FFF0F5; /* lavender blush*/
}
